.pvl-chart {
	border-style: solid;
	border-width: 1px;
	padding: 5px;
	text-align: center;
	border-color: #ddd;
	background-color: #eee;
}

.pvl-canvas {
	border-style: solid;
	border-width: 1px;
	text-align: center;
	border-color: #ddd;
	background-color: #fff;
	padding: 10px
}

.pvl-chart.alignleft {
	float: left;
}

.pvl-chart.alignright {
	float: right;
}

.pvl-chart.aligncenter {
	margin-right: auto;
	margin-left: auto;
	float: none;
	clear: both;
}

.pvl-chart.alignnone {
	clear: both;
}

.pvl-caption-text {
	margin-top: 5px;
	text-align: center;
	font-style: italic;
}
